<% layout('/layouts/boilerplate.ejs') %>
<div class="weather">
  <div class="search_bar">
    <i class="fa-solid fa-magnifying-glass" id="srch_icon"></i>
    <div class="input_city">
      <input
        type="text"
        name="city"
        id="city"
        placeholder="Enter your city..."
      />
    </div>
  </div>
  <div class="city_card">
    <div class="city_card_left">
      <div class="city_card_left_upper">
        <div class="city_left_upper2" style="font-size: 1.3rem">
          <h3 id="day">Saturday</h3>
          <h3><span id="month">Feburary, </span><span id="year">2016</span></h3>
        </div>
        <h2 style="font-size: 1.6rem" id="type">MOSTLY CLOUDY</h2>
      </div>
      <div class="left_middle">
        <img src="/images/back.jpg" id="icon" alt="" />
      </div>
      <div class="city_card_left_lower">
        <h1 id="temperature" style="font-size: 7rem">9&deg;C</h1>
        <h4 style="font-size: 1.5rem">
          <span id="cty">Belgrade, </span><span id="cntry">Serbia</span>
        </h4>
      </div>
    </div>
    <div class="city_card_right">
      <div class="max_temp">
        <div class="one_left">
          <h3>Max Temperature</h3>
          <h4 id="mx_tmp">12&deg;C</h4>
        </div>
      </div>
      <div class="min_temp">
        <div class="one_left">
          <h3>Min Temperature</h3>
          <h4 id="mn_tmp">12&deg;C</h4>
        </div>
      </div>
      <div class="humidity">
        <div class="one_left">
          <h3>Humidity</h3>
          <h4 id="humd">78 %</h4>
        </div>
      </div>
      <div class="pressure">
        <div class="one_left">
          <h3>Pressure</h3>
          <h4 id="prssre">56</h4>
        </div>
      </div>
      <div class="wind_speed">
        <div class="one_left">
          <h3>Wind Speed</h3>
          <h4 id="wnd_spd">11 km/h</h4>
        </div>
      </div>
      <div class="precipitation">
        <div class="one_left">
          <h3>Clouds</h3>
          <h4 id="prcp">0 %</h4>
        </div>
      </div>
      <div class="feels_like">
        <div class="one_left">
          <h3>Feels Like</h3>
          <h4 id="fls_lk">12&deg;C</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="other_cards">
    <div class="card" id="card1">
      <div class="icn">
        <img src="/images/clear.png" alt="" id="card_img_bang" />
      </div>
      <div class="card_cty_name">
        <h2 id="crd_cty_head">Bangkok</h2>
      </div>
      <div class="card_temp_bang">52&deg;C</div>
      <div class="card_others">
        <div class="card_humd">
          <p id="crd_humd_head">Humidity</p>
          <p id="crd_humd_bang">65%</p>
        </div>
        <div class="card_wnd_spd">
          <p id="crd_wndspd_head">Wind Speed</p>
          <p id="crd_wndspd_bang">11 km/h</p>
        </div>
        <div class="card_clouds">
          <p id="crd_clds_head">Clouds</p>
          <p id="crd_clds_bang">43%</p>
        </div>
      </div>
    </div>
    <div class="card" id="card1">
      <div class="icn">
        <img src="/images/clear.png" alt="" id="card_img_lon" />
      </div>
      <div class="card_cty_name">
        <h2 id="crd_cty_head">London</h2>
      </div>
      <div class="card_temp_lon">52&deg;C</div>
      <div class="card_others">
        <div class="card_humd">
          <p id="crd_humd_head">Humidity</p>
          <p id="crd_humd_lon">65%</p>
        </div>
        <div class="card_wnd_spd">
          <p id="crd_wndspd_head">Wind Speed</p>
          <p id="crd_wndspd_lon">11 km/h</p>
        </div>
        <div class="card_clouds">
          <p id="crd_clds_head">Clouds</p>
          <p id="crd_clds_lon">43%</p>
        </div>
      </div>
    </div>
    <div class="card" id="card2">
      <div class="icn">
        <img src="/images/clear.png" alt="" id="card_img_mum" />
      </div>
      <div class="card_cty_name">
        <h2 id="crd_cty_head">Mumbai</h2>
      </div>
      <div class="card_temp_mum">52&deg;C</div>
      <div class="card_others">
        <div class="card_humd">
          <p id="crd_humd_head">Humidity</p>
          <p id="crd_humd_mum">65%</p>
        </div>
        <div class="card_wnd_spd">
          <p id="crd_wndspd_head">Wind Speed</p>
          <p id="crd_wndspd_mum">11 km/h</p>
        </div>
        <div class="card_clouds">
          <p id="crd_clds_head">Clouds</p>
          <p id="crd_clds_mum">43%</p>
        </div>
      </div>
    </div>
    <div class="card" id="card3">
      <div class="icn">
        <img src="/images/clear.png" alt="" id="card_img_ban" />
      </div>
      <div class="card_cty_name">
        <h2 id="crd_cty_head">Bangalore</h2>
      </div>
      <div class="card_temp_ban">52&deg;C</div>
      <div class="card_others">
        <div class="card_humd">
          <p id="crd_humd_head">Humidity</p>
          <p id="crd_humd_ban">65%</p>
        </div>
        <div class="card_wnd_spd">
          <p id="crd_wndspd_head">Wind Speed</p>
          <p id="crd_wndspd_ban">11 km/h</p>
        </div>
        <div class="card_clouds">
          <p id="crd_clds_head">Clouds</p>
          <p id="crd_clds_ban">43%</p>
        </div>
      </div>
    </div>
    <div class="card" id="card3">
      <div class="icn">
        <img src="/images/clear.png" id="card_img_par" />
      </div>
      <div class="card_cty_name">
        <h2 id="crd_cty_head">Paris</h2>
      </div>
      <div class="card_temp_par">52&deg;C</div>
      <div class="card_others">
        <div class="card_humd">
          <p id="crd_humd_head">Humidity</p>
          <p id="crd_humd_par">65%</p>
        </div>
        <div class="card_wnd_spd">
          <p id="crd_wndspd_head">Wind Speed</p>
          <p id="crd_wndspd_par">11 km/h</p>
        </div>
        <div class="card_clouds">
          <p id="crd_clds_head">Clouds</p>
          <p id="crd_clds_par">43%</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="city_card">
    <div class="city_card_left">
        <div class="city_card_left_upper">
            <div class="city_left_upper2" style="font-size: 1.3rem;">
                <h3 id="day">Saturday</h3>
                <h3 ><span id="month">Feburary, </span><span id="year">2016</span></h3>
            </div>
            <h2 style="font-size: 1.6rem;" id="type">MOSTLY CLOUDY</h2>
        </div>
        <div class="left_middle">
            <img src= "/assets/back.jpg" id="icon" alt="">
        </div>
        <div class="city_card_left_lower">
            <h1 id="temperature" style="font-size: 7rem;">9&deg;C</h1>
            <h4 style="font-size:1.5rem;"><span id="cty">Belgrade, </span><span id="cntry">Serbia</span></h4>
        </div>
    </div>
    <div class="city_card_right">
        <div class="max_temp">
            <div class="one_left">
                <h3>Max Temperature</h3>
                <h4 id="mx_tmp">12&deg;C</h4>
            </div>
        </div>
        <div class="min_temp">
            <div class="one_left">
                <h3>Min Temperature</h3>
                <h4 id="mn_tmp">12&deg;C</h4>
            </div>
        </div>
        <div class="humidity">
            <div class="one_left">
                <h3>Humidity</h3>
                <h4 id="humd">78 %</h4>
            </div>
        </div>
        <div class="pressure">
            <div class="one_left">
                <h3>Pressure</h3>
                <h4 id="prssre">56</h4>
            </div>
        </div>
        <div class="wind_speed">
            <div class="one_left">
                <h3>Wind Speed</h3>
                <h4 id="wnd_spd">11 km/h</h4>
            </div>
        </div>
        <div class="precipitation">
            <div class="one_left">
                <h3>Clouds</h3>
                <h4 id="prcp">0 %</h4>
            </div>
        </div>
        <div class="feels_like">
            <div class="one_left">
                <h3>Feels Like</h3>
                <h4 id="fls_lk">12&deg;C</h4>
            </div>
        </div>
    </div>
</div>
<div class="other_cards">
    <div class="card" id="card1">
        <div class="crdin">
            <div class="icn">
                <img src="/assets/clear.png" alt="" id="card_img_bang">
            </div>
            <div class="card_cty_name">
                <h2 id="crd_cty_head">Bangkok</h2>
            </div>
            <div class="card_temp_bang">
                52&deg;C
            </div>
            <div class="card_others">
                <div class="card_humd">
                    <p id="crd_humd_head">Humidity</p>
                    <p id="crd_humd_bang">65%</p>
                </div>
                <div class="card_wnd_spd">
                    <p id="crd_wndspd_head">Wind Speed</p>
                    <p id="crd_wndspd_bang">11 km/h</p>
                </div>
                <div class="card_clouds">
                    <p id="crd_clds_head">Clouds</p>
                    <p id="crd_clds_bang">43%</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card" id="card1">
        <div class="icn">
            <img src="/assets/clear.png" alt="" id="card_img_lon">
        </div>
        <div class="card_cty_name">
            <h2 id="crd_cty_head">London</h2>
        </div>
        <div class="card_temp_lon">
            52&deg;C
        </div>
        <div class="card_others">
            <div class="card_humd">
                <p id="crd_humd_head">Humidity</p>
                <p id="crd_humd_lon">65%</p>
            </div>
            <div class="card_wnd_spd">
                <p id="crd_wndspd_head">Wind Speed</p>
                <p id="crd_wndspd_lon">11 km/h</p>
            </div>
            <div class="card_clouds">
                <p id="crd_clds_head">Clouds</p>
                <p id="crd_clds_lon">43%</p>
            </div>
        </div>
    </div>
    <div class="card" id="card2">
        <div class="icn">
            <img src="/assets/clear.png" alt="" id="card_img_mum">
        </div>
        <div class="card_cty_name">
            <h2 id="crd_cty_head">Mumbai</h2>
        </div>
        <div class="card_temp_mum">
            52&deg;C
        </div>
        <div class="card_others">
            <div class="card_humd">
                <p id="crd_humd_head">Humidity</p>
                <p id="crd_humd_mum">65%</p>
            </div>
            <div class="card_wnd_spd">
                <p id="crd_wndspd_head">Wind Speed</p>
                <p id="crd_wndspd_mum">11 km/h</p>
            </div>
            <div class="card_clouds">
                <p id="crd_clds_head">Clouds</p>
                <p id="crd_clds_mum">43%</p>
            </div>
        </div>
    </div>
    <div class="card" id="card3">
        <div class="icn">
            <img src="/assets/clear.png" alt="" id="card_img_ban">
        </div>
        <div class="card_cty_name">
            <h2 id="crd_cty_head">Bangalore</h2>
        </div>
        <div class="card_temp_ban">
            52&deg;C
        </div>
        <div class="card_others">
            <div class="card_humd">
                <p id="crd_humd_head">Humidity</p>
                <p id="crd_humd_ban">65%</p>
            </div>
            <div class="card_wnd_spd">
                <p id="crd_wndspd_head">Wind Speed</p>
                <p id="crd_wndspd_ban">11 km/h</p>
            </div>
            <div class="card_clouds">
                <p id="crd_clds_head">Clouds</p>
                <p id="crd_clds_ban">43%</p>
            </div>
        </div>
    </div>
    <div class="card" id="card3">
        <div class="icn">
            <img src="/assets/clear.png" id="card_img_par">
        </div>
        <div class="card_cty_name">
            <h2 id="crd_cty_head">Paris</h2>
        </div>
        <div class="card_temp_par">
            52&deg;C
        </div>
        <div class="card_others">
            <div class="card_humd">
                <p id="crd_humd_head">Humidity</p>
                <p id="crd_humd_par">65%</p>
            </div>
            <div class="card_wnd_spd">
                <p id="crd_wndspd_head">Wind Speed</p>
                <p id="crd_wndspd_par">11 km/h</p>
            </div>
            <div class="card_clouds">
                <p id="crd_clds_head">Clouds</p>
                <p id="crd_clds_par">43%</p>
            </div>
        </div>
    </div>
</div> -->
