<div class="footer">
    <p class="p">&#169; 2024 Temporada is registered tardemarks of Temporada.</p>
    <p class="p">All Rights Reserved.</p>
    <div class="footer-lower">
        <p>Terms of use |</p>
        <p>Privacy Policy |</p>
        <p>Cookie Policy |</p>
        <p>Contact US</p>
    </div>
</div>