* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height:100%;
    width:100%;
    overflow-x: hidden;
}

.navbar {
    height: 5rem;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    gap: 4rem;
    font-size: 1.5rem;
}

.two {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 120, 212);
    height: 13rem;
    width: 100%;
    padding: 2rem;
    background-image: url('./assets/back.jpg');
    background-size: auto;
}

.search_bar {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    height: 4rem;
    width: 73%;
    margin-left: 14rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

#city {
    width: 60rem;
    height: 3.5rem;
    /* border: 0.1rem solid black; */
    padding: 1rem;
    font-size: 1.3rem;
    outline: none;
    border: none;
}

#srch_icon {
    color: black;
    /* height: 5rem;
    width: 5rem; */
    font-size: 1.5rem;
}

.three {
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-image: url("./assets/back2.jpg");
    background-size: cover;
}

.intro {
    display: flex;
    height: 23.52rem;
    align-items: center;
}

.intro_left {
    width: 55%;
}

#intro_heading {
    font-size: 6rem;
}

#facility {
    font-size: 2.5rem;
    white-space: nowrap;
}

.city_card_left_upper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.city_card {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2rem 5rem;
    display: flex;
    gap: 1rem;
    width: 80%;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0.03rem 0.03rem 0.3rem 0.3rem rgb(255, 255, 255);
    justify-content: space-between;
    background-image: url("./assets/back3.webp");
    background-size: cover;
    color:rgb(255, 255, 255);
    display: none;

}

.city_card_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.city_card_right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;
}

.humidity, .pressure, .wind_speed, .max_temp, .min_temp, .feels_like {
    padding-bottom: 0.7rem;
    border: 0.15rem rgba(255, 255, 255,0.7) solid;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    height: 3rem;
    align-items: end;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.one_right {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.one_left {
    display: flex;
    justify-content: space-between;
    width: 15rem;
    /* height: 3rem; */
}

.city_card_left_lower h1 {
    font-size: 9rem;
}

#icon {
    margin-top: 1rem;
    height: 10rem;
    width: 10rem;
}

.other_cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    width: 100%;
    display: none;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid black;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 17rem;
    gap: 0.5rem;
    color: black;
}

#crd_cty_head {
    font-size: 2.5rem;
}

.card_temp_bang, .card_temp_mum, .card_temp_par, .card_temp_lon, .card_temp_ban {
    font-size: 2.5rem;
    font-weight: 600;
}

#crd_humd_ban, #crd_humd_bang, #crd_humd_lon, #crd_humd_mum, #crd_humd_par, #crd_wndspd_lon, #crd_wndspd_par, #crd_wndspd_bang, #crd_wndspd_ban, #crd_wndspd_mum, #crd_clds_lon, #crd_clds_mum, #crd_clds_ban, #crd_clds_bang, #crd_clds_par {
    font-size: 1.1rem;
    font-weight: 600;
}

#crd_humd_head, #crd_wndspd_head, #crd_clds_head {
    font-size: 1.1rem;
    font-weight: 600;
}

.card_others {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 0.2rem;
}

#card_img {
    height: 10rem; 
    width: 13rem;
}

.card_humd, .card_wnd_spd, .card_clouds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(151, 91, 91);
    font-size: 3rem;
}