<% layout('/layouts/boilerplate.ejs') %>
<div class="home">
    <div class="home-main">
        <div class="wthr_btn">
           <a href="/weather-info" id="getWthrBtn">GET WEATHER</a>
        </div>
        <div class="intro">
            <div class="intro_left">
                <h1 id="intro_heading">Search for your city and Get <i class="fa-solid fa-arrow-right"></i></h1>
            </div>
            <div class="intro_right">
                <p id="facility"><i class="fa-solid fa-cloud-sun-rain"></i> Accurate weather details...</p>
                <p id="facility"><i class="fa-solid fa-cloud-sun-rain"></i> Smallest information related to weather...</p>
                <p id="facility"><i class="fa-solid fa-cloud-sun-rain"></i> Feel of your place...</p>
            </div>
        </div>
    </div>
</div>